#coffee-sediment {
  span {
    background-color:#F7464A;
  }
}
#sediment-transport {
  span {
    background-color:#46BFBD;
  }
}

#guanica-lagoon {
  span {
    background-color:#FDB45C;
  }
}
#wetland-treatments {
  span {
    background-color:#5B90BF;
  }
}
#other {
  span {
    background-color:#ADC896;
  }
}

#figures {
  text-align:center;
}